*{
    margin: 0;
}
body{
    background: #000000;
    width: 100%;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    color: white;
    
}
h3{
    font-family: 'San Francisco', 'Open Sans', 'Lato', sans-serif;
    
}
nav{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;

}
nav .left{
    width: 17%;
   margin-left: 8%;
}
nav .left i{
    font-size: 30px;
}
nav .center{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #000000;
    border: 1px solid rgb(56, 56, 56);
}
nav .center div{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .center div:hover{
    background-color: rgb(43, 43, 43);
}
nav .center h3{
    color: white;
}
nav .right{
    width: 35%;
}
nav .right .search-bar{
    margin-left: 33px;
    width: 350px;
    height: 45px;
    background-color: rgb(33, 33, 35);
    color: #657786;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
}
nav .right .search-bar i{
    margin: 0 20px 0 20px;
   
}
nav .right .search-bar input{
    background: transparent;
    border: 0;
    outline: none;
    width: 70%;
}
main{
    display: flex;
    
}
main .left{
    width: 17%;
   margin-left: 8%;
}
main .left .bar{
    display: flex;
    align-items: center;
    height: 55px;
}
main .left .bar:hover{
    background-color: #191919;
}
main .left .bar i{
    font-size: 20px;
    margin-right: 13px;
}
main .left .bar img{
    width: 20px;
    margin-right: 15px;
}
main .left .bar .post{
    width: 90%;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(75, 108, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
main .center {
    width: 40%;
}

main .center .input-bar {
    width: 100%;
    background-color: #000000;
    border: 1px solid #383838;
    height: 130px;
}

main .center .input-bar .input-txt {
    display: flex;
    align-items: center;
   
    margin: 10px 20px;
}

main .center .input-bar .input-txt img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
   
}

main .center .input-bar .input-txt input {
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    width: 100%;
}

main .center .input-bar .input-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 15px;
    margin-right: 40px;
    
}

main .center .input-bar .input-icon div {
    display: flex;
    align-items: center;
}

main .center .input-bar .input-icon img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

main .center .input-bar .input-icon i {
    font-size: 18px;
    margin: 0 5px;
}
main .center .input-bar .input-icon .post-btn{
 background:  rgb(75, 108, 255);
 width: 80px;
 height: 40px;
 border-radius: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
 
}

main .center .input-bar hr {
    border: none;
    height: 1px;
    background-color: #383838;
    margin: 10px 0;
}

hr{
    border: 0;
    height: 1px;
    background: rgb(56, 56, 56);
    margin: 10px 15px;
}
main .center .post{
    width: 100%;
    border: 1px solid #383838;
}
main .center .post .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93%;
    padding: 15px;
}
main .center .post .head .profile{
    margin-right: 30px;
}
main .center .post .head .details{
    display: flex;
    width: 230px;
    padding: 7px;
    flex-wrap: wrap;
}
main .center .post .footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    color: #494949;
    padding-bottom: 15px;
}
main .center .post .footer div{
    display: flex;
    align-items: center;

}

main .center .post .footer i {
    margin-right: 5px;
}

main .right{
    margin-left: 38px;
    margin-top: 10px;
}
main .right .subscribe {
    width: 290px;
    padding: 30px;
    border: 1px solid #383838;
    border-radius: 15px;
    margin-bottom: 10px;
}
main .right .happening{
    width: 290px;
    padding: 30px;
    border: 1px solid #383838;
    border-radius: 15px;
    margin-bottom: 10px;
}
main .right .follow{
    width: 290px;
    padding: 30px;
    border: 1px solid #383838;
    border-radius: 15px;
    margin-bottom: 10px;
}
